
/* Aspectos gerais */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* Aspectos gerais */



/* Cabeçalho */
.Cabeçalho {
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);}

.Cabeçalho img {
    border: 2px solid #ccc;
    border-radius: 50%;}    

.menu ul { 
    display: flex;
    justify-content: space-between;}

.menu .menu-link {
    display: block;
    margin: 10px;
    padding: 10px;
    color: #E9F3FE;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    transition: all .3s ease-in-out;}

.menu .menu-link:hover {opacity: .75;}
/* Cabeçalho */






p {font-size: 0.80em; line-height: 1.4em; color: #373737;}
.ingles1{font-size: 0.78em; line-height: 1.4em; color: #787878;}
.ingles2{font-size: 0.78em; line-height: 1.4em; color: #787878;}

p, h2 {display: inline-block;}


a {color: #FFF;}
img{max-width: 100%;}

h2 {
    font-size: 1.20em;
    color: #141A28;
    align-items: left;
    margin: 0px 0px 70px;
    padding: 5%;
    box-sizing: border-box;
}

.super-card {
    width: 100%;
    display: flex;
    margin-top: 12px;
}


.super-card-text {margin-left: 30px;}
.super-card-text p + p {margin-top: 1em;}



.container {
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

hr {
    max-width: 900px;
    border: 0;
    height: 0.5px;
    background-image: linear-gradient(to left,#ccc,rgb(81, 81, 81),#ccc);
    }


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f9f9f980;
}

header {
    width: 100%;
    background-image: url(https://static.wixstatic.com/media/a53218_119b00578b3d459aa514dc08545e7e0c~mv2_d_2739_2055_s_2.jpg/v1/fill/w_806,h_140,al_l,q_80,usm_0.66_1.00_0.01,enc_auto/a53218_119b00578b3d459aa514dc08545e7e0c~mv2_d_2739_2055_s_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

}

.branch, .branch img {
    width: 90px;
    
}


main {width: 100%;}







pre {
    background-color: #e7e7e798;
    border: 1px solid #787878c4;
    margin: 1rem 0 2rem;
    padding: 1rem 2.5rem 1rem 1rem;
}
.code-example, code, pre {
    border-radius: var(--elem-radius);
    font-size: var(--type-base-font-size-rem);
}
pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
pre {
    display: block;
    font-family: monospace;
    font-size: 0.5em;
    white-space: pre;
    margin: 1em 0px;
}

code{font-size: 0.80em;}

#pip {font-size: 1.0em;
background-color: #cdcdcdb2;}

#print1 {
    border: 1px solid #787878c4;
}





















/* Posts */
.card {
    max-width: 350px;
    min-height: 500px;
    border-radius: 3px;
    margin: 1em;
    background-color: #FFF;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .15);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover { box-shadow: 30px 30px 5px 0px rgba(0, 0, 0, .15); }

.card-img { padding: 1em; }

.img-body,
.img-body img {
    width: 200px;
    display: table;
    margin: 0 auto; 
    border-radius: 50%;
}

.card-body { padding: 1em; }
.card-body p {
    color: #343A40;
    line-height: 1.4em;
}

.card-body p + p { margin-top: .5em;}

.card-button {
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em;
    background-color: #141A28;
    display: flex;
    justify-content: center;
}

.card-button button {
    width: 250px;
    padding: 1em;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to right bottom, #412e82, #393581, #333b7e, #2f407a, #2f4475);
    color: #E9F3FE;
    font-size: 1.2em;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

.card-button button:hover {
    cursor: pointer;
    opacity: .75;
}

.sub-title {margin: 20px auto;}

.li-ornament { margin: 10px 0; }

.li-ornament::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 12px;
    margin-right: 10px;
    background-color: #141A28;
    border-radius: 5px;
}
.contact-link {color: #141A28;}

.map {
    margin: 20px 0;
}